.ourteam {
    margin-top: 114px;
}

.ourteam__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: center;
}

.ourteam__item {
    display: flex;
    margin:0 15px;
    flex-direction: column;
    max-width: 270px;
}

.item-ourteam__name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #2D3033;
    margin: 30px 0 0;
}
.item-ourteam__profession {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FF4343;
    margin: 5px 0 0;
}
.item-ourteam__discription {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #6C7279;
    margin: 18px 0 0;
}

.item-ourteam__icon {
    display: flex;
    margin-top: 38px;
}

.item-ourteam__icon a{
    margin-right: 6px;
}

