.work{
    margin-top: 133px;
}

.work-img{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.work-img1{
    padding: 0;
    max-width: 378px;
    width: 25%;
    height: 340px;
    background-color: rgba(255, 67, 67, 0);
    position: relative;
    z-index: 1;
}

.work-img1:hover::after{
    content: "";
    background: rgba(255, 67, 67, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.work-text{
    opacity: 1;
    z-index: 2;
    position: absolute;
}

.work-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    width: 100%;
}

.work-discription{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}